Repository BernardUriza/murburaba: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-pattern-check, no-console-logs, error-pattern-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for code quality and duplication detection
# See https://pre-commit.com for more information

repos:
  # Standard code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict

  # TypeScript/JavaScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint
        language: node
        types: [typescript, javascript, tsx, jsx]
        args: [--fix, --max-warnings=0]
        additional_dependencies: [eslint]

      # Code duplication detection
      - id: duplication-check
        name: Code Duplication Check
        entry: npm run lint:duplication:ci
        language: system
        stages: [commit]
        pass_filenames: false
        description: "Checks for code duplication and fails if thresholds are exceeded"

      # Duplication threshold enforcement
      - id: duplication-threshold
        name: Duplication Threshold Enforcement
        entry: node scripts/check-duplication-thresholds.js
        language: node
        stages: [commit]
        pass_filenames: false
        description: "Enforces strict duplication limits before commit"

      # Test pattern validation
      - id: test-pattern-check
        name: Test Pattern Validation
        entry: node scripts/validate-test-patterns.js
        language: node
        files: '.*\.test\.ts$|.*\.spec\.ts$'
        description: "Ensures test files use centralized utilities instead of duplicate patterns"

      # Console.log detection
      - id: no-console-logs
        name: No Console Logs in Production Code
        entry: node scripts/check-console-logs.js
        language: node
        files: '^packages/murmuraba/src/(?!__tests__|mocks).*\.(ts|tsx)$'
        exclude: '^packages/murmuraba/src/(utils/logger\.ts|__tests__|mocks).*'
        description: "Prevents console.log statements in production code"

      # Error pattern validation
      - id: error-pattern-check
        name: Error Pattern Validation
        entry: node scripts/check-error-patterns.js
        language: node
        files: '.*\.(ts|tsx)$'
        description: "Ensures errors use ErrorFactory instead of raw Error constructors"

# Configure default stages
default_stages: [commit]

# Global configuration
fail_fast: false
minimum_pre_commit_version: '2.20.0'

fix: resolve all TypeScript errors and infinite loop issues
  .env
  packages/murmuraba/src/__tests__/shared/test-utils.ts
  packages/murmuraba/src/__tests__/utils/audio-context-utils.ts
  packages/murmuraba/src/__tests__/utils/console-utils.ts
  packages/murmuraba/src/__tests__/utils/custom-matchers.ts
  packages/murmuraba/src/__tests__/utils/factories.ts
  packages/murmuraba/src/__tests__/utils/test-utils.ts
  packages/murmuraba/src/core/murmuraba-engine.ts
  packages/murmuraba/src/core/secure-event-bridge.ts
  packages/murmuraba/src/hooks/murmuraba-engine/use-murmubara-engine.ts
  packages/murmuraba/src/types/jitsi-rnnoise-wasm.d.ts
  packages/murmuraba/src/utils/logger.ts
  src/App.tsx
  src/__tests__/App.startup.test.tsx
  src/__tests__/gain-control-integration.test.tsx
  src/components/real-time-vad/real-time-vad.tsx
  src/components/tab-content/TabContent.tsx
  src/contexts/theme-context.tsx
  src/features/audio-recording/RecordRoute.tsx
  src/features/audio-recording/__tests__/AudioRecorder.gain.test.tsx
  src/features/audio-recording/__tests__/AudioRecorder.improved.test.tsx
  src/features/audio-recording/__tests__/AudioRecorder.test.tsx
  src/hooks/useEngineEffects.ts
  src/main.tsx
  src/shared/components/__tests__/ErrorBoundary.test.tsx
  src/types/jitsi-rnnoise-wasm.d.ts
Due: no-console-logs, error-pattern-check

fix: duration display and implement comprehensive time utilities refactoring
  packages/murmuraba/src/components/audio-player/audio-player.tsx
  packages/murmuraba/src/components/chunk-results/chunk-header/chunk-header.tsx
  packages/murmuraba/src/components/chunk-results/formatters.ts
  packages/murmuraba/src/types/audio-types.ts
  packages/murmuraba/src/utils/__tests__/time-utils.test.ts
  packages/murmuraba/src/utils/time-constants.ts
  packages/murmuraba/src/utils/time-utils.ts
  src/features/audio-processing/AudioProcessor.tsx
Due: test-pattern-check, no-console-logs, error-pattern-check

fix: resolve ESLint warnings for unused variables
  .env
  duration-refactoring-analysis.md
  packages/murmuraba/html/html.meta.json.gz
  packages/murmuraba/src/components/chunk-processing-results/chunk-processing-results.tsx
  packages/murmuraba/src/components/chunk-results/audio-controls.css
  packages/murmuraba/src/components/chunk-results/audio-controls/audio-controls.tsx
  packages/murmuraba/src/components/synced-waveforms/synced-waveforms.tsx
  packages/murmuraba/src/hooks/murmuraba-engine/recording-manager.ts
  packages/murmuraba/src/hooks/use-audio-engine.ts
  packages/murmuraba/src/utils/time-utils.ts
Due: no-console-logs, error-pattern-check

feat: add AGC (Automatic Gain Control) toggle to improve manual gain effectiveness
  packages/murmuraba/src/api.ts
  packages/murmuraba/src/hooks/murmuraba-engine/types.ts
  packages/murmuraba/src/hooks/murmuraba-engine/use-murmubara-engine.ts
  src/App.tsx
  src/components/tab-content/TabContent.tsx
  src/features/audio-recording/AudioRecorder.tsx
  src/features/audio-recording/RecordRoute.tsx
Due: no-console-logs, error-pattern-check

fix: improve recording restart and gain control UI
  packages/murmuraba/src/api.ts
  packages/murmuraba/src/hooks/murmuraba-engine/recording-functions.ts
  packages/murmuraba/src/hooks/murmuraba-engine/types.ts
  packages/murmuraba/src/hooks/murmuraba-engine/use-murmubara-engine.ts
  src/App.tsx
  src/components/tab-content/TabContent.tsx
  src/features/audio-recording/AudioRecorder.tsx
  src/features/audio-recording/RecordRoute.tsx
Due: no-console-logs, error-pattern-check

fix: preserve audio chunks after stopping recording
  packages/murmuraba/README.md
  packages/murmuraba/src/hooks/murmuraba-engine/recording-functions.ts
  packages/murmuraba/src/hooks/murmuraba-engine/types.ts
  packages/murmuraba/src/hooks/murmuraba-engine/use-murmubara-engine.ts
  src/App.tsx
  src/components/tab-content/TabContent.tsx
  src/features/audio-recording/AudioRecorder.tsx
  src/features/audio-recording/RecordRoute.tsx
Due: no-console-logs, error-pattern-check

fix: resolve RNNoise fetch error in AudioWorklet context
  .env
  packages/murmuraba/src/engines/audio-worklet-engine.ts
Due: no-console-logs, error-pattern-check

fix: resolve RNNoise fetch error in AudioWorklet context
  .env
  packages/murmuraba/html/html.meta.json.gz
  packages/murmuraba/node_modules/.vite/vitest/da39a3ee5e6b4b0d3255bfef95601890afd80709/results.json
Due: none

fix: add netlify.toml for Vite deployment
  netlify.toml
Due: none

fix: resolve ESLint and TypeScript warnings in v3.0.2
  .env
  netlify.toml
  packages/murmuraba/package.json
  packages/murmuraba/src/api/process-file-with-metrics.ts
  packages/murmuraba/src/core/murmuraba-engine.ts
  packages/murmuraba/src/hooks/murmuraba-engine/constants.ts
  packages/murmuraba/src/utils/simple-agc.ts
Due: no-console-logs, error-pattern-check

fix: convert vite.config.ts to JS to resolve Netlify build error
  .env
  vite.config.js
Due: none

fix: convert project to ES modules for Netlify compatibility
  .env
  package.json
  scripts/generate-build-info.js
Due: none

fix: update Node.js version to 20 for Netlify deployment
  .nvmrc
  netlify.toml
Due: none

feat: implement real VAD functionality for Murmuraba
  docs/vad-implementation.md
  packages/murmuraba/src/index.ts
  packages/murmuraba/src/vad/__tests__/audio-metadata.test.ts
  packages/murmuraba/src/vad/__tests__/murmuraba-vad.test.ts
  packages/murmuraba/src/vad/algorithms/energy-vad.ts
  packages/murmuraba/src/vad/algorithms/segment-detector.ts
  packages/murmuraba/src/vad/algorithms/zcr-vad.ts
  packages/murmuraba/src/vad/audio-metadata.ts
  packages/murmuraba/src/vad/index.ts
  packages/murmuraba/src/vad/murmuraba-vad.ts
  packages/murmuraba/src/vad/types.ts
Due: test-pattern-check, no-console-logs, error-pattern-check

chore: release v3.0.3 with VAD implementation
  CHANGELOG.md
  docs/vad-implementation-summary.md
  package.json
  packages/murmuraba/README.md
  packages/murmuraba/html/html.meta.json.gz
  packages/murmuraba/node_modules/.vite/vitest/da39a3ee5e6b4b0d3255bfef95601890afd80709/results.json
  packages/murmuraba/package.json
  packages/murmuraba/src/vad/murmuraba-vad.ts
  version.json
Due: no-console-logs, error-pattern-check
